
<section class="latest-blog">
        <div class="latest-blog-container">
            <h6>Inside</h6>
            <h3>Latest From Blog</h3>
           {%- assign blog = blogs[section.settings.blog] -%}
            <div class="latest-blog-flex">
               {% for article in blog.articles limit:2 %}
                <div class="latest-blog-col">
                    <div class="latest-blog-content">
                        <a href="{{article.url}}" class="blog-img">
                            <img src="{{article.image | img_url:'master'}}" alt="blog-img1">
                        </a>
                        <div class="blog-text">
                            <h6><a href="#">{{article.title}}</a></h6>
                            <p>{{ article.excerpt }}</p>
                            <a href="{{ article.url }}">Read More</a>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
             <div class="view-all-cllection-btn">
                <a href="{{ blog.url }}">VIEW ALL Articles</a>
            </div>
        </div>
    </section>


{% schema %}
  {
    "name": "custom-blogs",
    "settings": [
{
       "id": "blog",
       "type": "blog",
       "label": "Blog"
     }

],
"presets":[

{ 
"name":"custom-blogs",
"category":"custom-blogs"
}

]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
