<style>
    body {
        position: relative;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }

    .main-upper-flex,
    .UpperInnerTextFlex,
    .mainBottomFlex,
    .bottomInnerTextFlex {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 20px;
          flex-wrap: wrap;
    }

    .textUpperLeft,
    .textBotoomLeft {
        width: 100%;
        max-width: 65%;
    }

    .upperInnerWidth,
    .imageBottomRight {
        width: 100%;
        max-width: 30%;
    }

    .imageUpperRight,
    .bottomInnerWidth {
        width: 100%;
        max-width: 30%;
    }

    .new-color {
        background-color: #ede1d3;
        padding: 50px 0;
    }

    .container {
        max-width: 1200px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
    }

    .imageUpperRight img,
    .imageBottomRight img {
        width: 100%;
    }

    .imageUpperRight img,
    .imageBottomRight img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .new-color p {
        font-size: 22px;
        font-family: 'Karla'
    }

    .new-color h3 {
        font-size: 30px;
        font-family: 'DM Serif Display';
    }

    .new-color h3 {
        margin: 10px 0px;
    }
  .upperInnerWidth, .imageBottomRight {
    width: 100%;
    max-width: 47%;
}

    @media only screen and (min-width: 1600px) {
        .container {
            max-width: 1700px;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0 auto;
        }

        .new-color p {
            font-size: 16px;
        }

        .new-color h3 {
            font-size: 30px;
        }
    }

    @media only screen and (max-width: 1600px) {
        .container {
            max-width: 1400px;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0 auto;
        }
    }

    @media only screen and (max-width: 1440px) {
        .container {
            max-width: 1200px;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0 auto;
        }

        .main-upper-flex,
        .UpperInnerTextFlex,
        .mainBottomFlex,
        .bottomInnerTextFlex {
            display: flex;
        }

        .new-color h3 {
            font-size: 24px;
        }
    }

    @media only screen and (max-width: 1280px) {
        .container {
            max-width: 1100px;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0 auto;
        }

        .new-color p {
            font-size: 14px;
        }

        .new-color h3 {
            font-size: 20px;
        }

        .imageUpperRight img,
        .imageBottomRight img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media only screen and (max-width: 1024px) {
        .container {
            max-width: 950px;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0 auto;
        }

        .new-color h3 {
            font-size: 19px;
        }
    }

    @media only screen and (max-width: 992px) {
        .container {
            max-width: 90%;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0 auto;
        }

        .main-upper-flex,
        .UpperInnerTextFlex,
        .mainBottomFlex,
        .bottomInnerTextFlex {
            display: block;
        }

        .textUpperLeft,
        .textBotoomLeft {
            width: 100%;
            max-width: 100%;
        }

        .upperInnerWidth,
        .imageBottomRight {
            width: 100%;
            max-width: 100%;
        }

        .imageUpperRight,
        .bottomInnerWidth {
            width: 100%;
            max-width: 100%;
        }

        .imageUpperRight img,
        .imageBottomRight img {
            max-height: 350px;
            object-fit: cover;
        }
    }
  hr {
    margin: 60px 0;
    height: 4px;
    color: #000000 !important;
    background: black;
}

    @media only screen and (max-width: 767px) {

        .new-color h3,
        p,
        .topUpImageLogo {
            text-align: center;
        }

        .new-color p {
            font-size: 14px;
        }
    }
</style>
<section class="new-color">
        <div class="container">
            <div class="caiaUpperTextImage">
                <div class="main-upper-flex">
                    <div class="textUpperLeft">
                        <div class="topIntroParagraph">
                            <p>{{section.settings.description}} </p>
                        </div>
                      <hr>
                        <div class="UpperInnerTextFlex">

                          {% for block in section.blocks %}
                          {% if block.type == 'block_1' %}
                            <div class="upperInnerWidth">
                                <div class="topUpImageLogo">
<!--                                     <img src="{{block.settings.img1 | img_url:'master'}}" alt="" srcset=""> -->
                                </div>
                                <h3>{{block.settings.title}}</h3>
                                <p>{{block.settings.para}}</p>
                            </div>
                          {% endif %}
                          {% endfor %}
                          
                           
                        </div>
<!--                       
                       <div class="UpperInnerTextFlex">

                          {% for block in section.blocks %}
                          {% if block.type == 'block_2' %}
                            <div class="upperInnerWidth">
                                <div class="topUpImageLogo">
                                    <img src="{{block.settings.img1 | img_url:'master'}}" alt="" srcset="">
                                </div>
                                <h3>{{block.settings.title1}}</h3>
                                <p>{{block.settings.para1}}</p>
                            </div>
                          {% endif %}
                          {% endfor %}
                          
                           
                        </div> -->
                    </div>
                    <div class="imageUpperRight">
               <img src="{{section.settings.main_iamge | img_url:'master'}}" alt="">
                    </div>
                </div>
            </div>
<!--             <div class="bottomImageTextThree">
                <div class="mainBottomFlex">
                    <div class="textBotoomLeft">
                        <div class="bottomInnerTextFlex">
                                {% for block in section.blocks %}
                          {% if block.type == 'block_2' %}
                            <div class="bottomInnerWidth">
                                <div class="topUpImageLogo">
                                    <img src="{{block.settings.img2 | img_url:'master'}}" alt="" srcset="">
                                </div>
                                  <h3>{{block.settings.title1}}</h3>
                                <p>{{block.settings.para1}}</p>
                            </div>
                          
                            {% endif %}
                          {% endfor %}
                           
                          
                        </div>
                    </div>
                    <div class="imageBottomRight">
                        <img src="{{section.settings.main_iamge1 | img_url:'master'}}" alt="">
                    </div>
                </div>
            </div> -->
        </div>
    </section>

{% schema %}
  {
    "name": "Home about",
    "settings": [
{
					"type": "textarea",
					"id": "description",
					"label": "description"
				},
{
					"type": "image_picker",
					"id": "main_iamge",
					"label": "Image"
				},
{
					"type": "image_picker",
					"id": "main_iamge1",
					"label": "Image"
				}

],
"blocks": [
		{
			"name": "About1",
			"type": "block_1",
			"settings": [
				
                {
					"type": "text",
					"id": "title",
					"label": "title"
				},
                 {
					"type": "textarea",
					"id": "para",
					"label": "para"
				}
			]
		},
        {
			"name": "About2",
			"type": "block_2",
			"settings": [
				
                {
					"type": "text",
					"id": "title1",
					"label": "title"
				},
                 {
					"type": "textarea",
					"id": "para1",
					"label": "para"
				}
			]
		}
],


"presets":[

{ 
"name":"Home about",
"category":"Home about"
}

]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
