<footer class="site_footer">
  <div class="container">
    <div class="site_footer_content">
      <div class="footer_nav">
        <ul>
          {% for link in linklists[section.settings.link2].links %}
          <li><a class="{% if link.active %}active {% endif %}" href="{{link.url}}">{{link.title}}</a></li>
          {% endfor %}
        </ul>
        <ul class="socail_media">
          <li><a href="{{settings.social_facebook_link}}"><img src="{{'fb.png' | asset_img_url:'maaster'}}"></a></li>
                    <li><a href="{{settings.social_instagram_link}}"><img src="{{'insta.png' | asset_img_url:'maaster'}}"></a></li>
        </ul>
      </div>
      <div class="sign_in">
        <h1>{{section.settings.title}}</h1>
        <p>{{section.settings.para}}</p>
        <span>contact usa at </span><a href="mailto:{{section.settings.account}}">{{section.settings.account}}</a>
        <div class="subcribe">
          {% form 'customer' %}
          {%- if form.posted_successfully? -%}
          <p>
            Thanks for contact us
          </p>
          {%- endif -%}
          <input type="text" id="" placeholder="My email address" me="contact[email]" required>
          <button>subcribe</button>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
"name": "latest_footer",
"settings": [
{
"type":"link_list",  
"id":"link2",
"label":"Menu"
},
{
"type":"text",  
"id":"title",
"label":"Title"
},
{
"type":"text",  
"id":"para",
"label":"Para"
},
{
"type":"text",  
"id":"account",
"label":"Account id"
}

]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
