{% if section.settings.enable_transparent and request.page_type == 'index' %}
<style>
  html:not(.supports-no-js) body:not(.navigation-open) .site-header--transparent:not(.site-header--fixed) .burger-icon {
    background-color: {{ section.settings.transparent_text_color }};
  }

  html:not(.supports-no-js) body:not(.navigation-open) .site-header--transparent:not(.site-header--fixed) .site-header__cart .icon,
  html:not(.supports-no-js) body:not(.navigation-open) .site-header--transparent:not(.site-header--fixed) .site-header__bag .icon {
    fill: {{ section.settings.transparent_text_color }};
  }

  html:not(.supports-no-js) body:not(.navigation-open) .site-header--transparent:not(.site-header--fixed) a.site-header__logo {
    color: {{ section.settings.transparent_text_color }};
  }

  html:not(.supports-no-js) body:not(.navigation-open) .site-header--transparent:not(.site-header--fixed) .site-header__navigation::after,
  html:not(.supports-no-js) body:not(.navigation-open) .site-header--transparent:not(.site-header--fixed) .site-header__cart::after {
    border-color: {{ section.settings.transparent_text_color }};
  }
</style>
{% endif %}



<style>
  .main-content {
    padding-top: 0px; } 

</style>
<header>
  <div class="cus-navigation">
    <div class="left-menu">
      <ul>
        {% for link in linklists[section.settings.link2].links %}
        <li><a class="{% if link.active %}active {% endif %}" href="{{link.url}}">{{link.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="right-menu">
      <ul>
        <li><a href="#">USD$</a></li>
        <li>{% if customer %}
          <a href="{{ routes.account_url }}" class="site-header__icon site-header__account">
            Account
            <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
          </a>
          {% else %}
          <a href="{{ routes.account_login_url }}" class="site-header__icon site-header__account">
            Account
            <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
          </a>
          {% endif %}</li>

        <li><a href="#" class="openBtn" onclick="openSearch()">SEARCH</a>
        </li>
        <li>
          <div class="points site-header__section site-header__section--button">
            <a href="{{ routes.cart_url }}" class="points btn btn--clear btn--square btn--hover-scale site-header__cart ajax-cart__toggle" aria-expanded="false">
              {%- assign icon = 'icon-header-' | append: section.settings.icon %}
          {% include icon %}
              <span class="icon__fallback-text">{{ 'general.header.view_cart' | t }}</span>
              <span class="site-header__cart-bubble{% if cart.item_count > 0 %} site-header__cart-bubble--visible{% endif %}"></span>
            </a>
          </div>
        </li>

        <!--                 <li>
<a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart">                   
Cart
<div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %} critical-hidden" data-cart-count-bubble>
<span data-cart-count>{{ cart.item_count }}</span>
<span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
</div>
</a>
</li> -->

      </ul>
    </div>
  </div>
  <div class="logo">
    <a href="/"><img src="{{section.settings.logo | img_url:'master'}}" alt="logo"></a>
  </div>
  <div class="menu-bar">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </div>

</header>
<!-- <div id="myOverlay" class="overlay" style="display: none;">
  <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
  <div class="overlay-content">
    <form action="{{ routes.search_url }}" method="get" role="search">
      <input  role="combobox"
             aria-autocomplete="list"
             aria-owns="predictive-search-results"
             aria-expanded="false"
             aria-label="{{ 'general.search.placeholder' | t }}"
             aria-haspopup="listbox"
             class="search-form__input search-bar__input"
             data-predictive-search-drawer-input
             data-base-url="{{ routes.search_url }}" type="text" placeholder="Search.." name="q">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>





  </div>
</div> -->
{% schema %}
{
"name": "Header",
"settings": [
{
"type":"link_list",  
"id":"link2",
"label":"Menu"
},
{
"type":"image_picker",  
"id":"logo",
"label":"logo"
}


]



}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
