
<style>
  .product-detail-sec{
  
  background:#E1E3DE;
  
  }
  .grid__item {

  padding-left:0px;
  }
  .description-box {
    margin-top: 28px;
}
  .card__info {
    clear: both;
    padding: 22px;
    background-color: transparent !important;
}


</style>
<section class="product-detail-sec">
        <div class="product-flex">
          
            <div class="product-col-img">
              {% for image in product.images %}
    

                 <div class="product-img">
                     <img src="{{ image.src | product_img_url: 'master' }}">
                 </div>
              {% endfor %}
                 
            </div>
            <div class="product-col-text">
                <h2>{{product.title}}</h2>
                <h6>{{product.price | money}}
                 {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte">
              {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}
              </h6>
            
                <h4>Quantity:</h4>
<!--                {% include 'product-form' %} -->

                <div class="input-number-container">
                    <input type="integer" value="1">
                </div>
              
                <button class="add-to-cart-btn">ADD TO CART</button>
              <div class="product__content-main">
                 <div class="" itemprop="description" class="rte">
              
               {% if product.metafields.Product-Logo.logo != blank %}
                      <div class="description-box">
       <div class="grid first-row">
          <div class="grid__item medium-up--one-third small--one-whole"> 
          <div class="logo-product">
      		<img src ="{{product.metafields.Product-Logo.logo}}">
          </div>
           </div>
          <div class="grid__item medium-up--two-thirds small--one-whole"> 
          <div class="content">{{product.metafields.content.product-content}}</div>
          <div class="Smells">{{product.metafields.Smells-Like.smells-like}}</div>
          </div>
          </div>
          <div class="grid second-row">
          <div class="grid__item medium-up--two-thirds small--one-whole">
          <div class="upper-description">{{product.metafields.upper-description.upper-description}}</div> 
          </div>
          <div class="grid__item medium-up--one-third small--one-whole"> 
          <div class="pair"> {{product.metafields.best-pair.best-pair}}</div> 
          </div>
          </div>
          <div class="grid third-row">
          <div class="grid__item medium-up--two-thirds small--one-whole"> 
          <div class="inspired">
          {{product.metafields.inspired-text.inspired-text}}
          </div>
          <div class="lower-description">{{product.metafields.lower.lower-description}}</div> 
          <div class="note-text">{{product.metafields.text.note-text}} </div>
          </div>
          <div class="grid__item medium-up--one-third small--one-whole">
          <div class="zodiac-sign">
         <img src = "{{product.metafields.sign.zodiac-sign}}" >
          </div>
           </div>
         
          </div>
        </div>
            {% endif %}
                <div class="grid__item medium-up--one-whole small--one-whole">
          <div class="spotify-code">
         	{{product.metafields.Spotify.spotify-content}}
          </div>
           </div>
                </div>
              </div>
              
                <div class="custom-product-tabing">
                <div class="tab">
                    <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Description</button>
                    <button class="tablinks" onclick="openCity(event, 'Paris')">Ingredients</button>
                    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Reviews</button>
                    </div>

                    <div id="London" class="tabcontent">
                <p>       {{ product.description }} </p>
                    </div>

                    <div id="Paris" class="tabcontent">
                    <p> sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                    </div>

                    <div id="Tokyo" class="tabcontent">
                 <p> justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
                    </div>
                    </div>
                    <h4>Share:</h4>
                    <div class="product-share">
                        <ul>
                            <li><a href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="//twitter.com/share?text={{ share_title | default: page_description | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | default: page_description | url_param_escape }}"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a href="mailto:webmaster@example.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </section>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
