<footer>
        <div class="footer-top">
            <div class="footer-top-text">
<!--             <div class="footer-logo">
               <a href="#"><img src="{{section.settings.img | img_url:'master'}}" alt="footer-logo"></a>
            </div> -->
            <p>{{section.settings.para}}</p>
            <div class="footer-social-icons">
                <ul>
                    <li><a href="{{settings.social_facebook_link}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="{{settings.social_twitter_link}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="{{settings.social_pinterest_link}}"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            </div>
            <div class="footer-top-flex">
                <div class="quicks-links">
                    <h5>{{section.settings.heading}}</h5>
                   <ul>
                        {% for link in linklists[section.settings.link2].links %}
                                <li><a class="{% if link.active %}active {% endif %}" href="{{link.url}}">{{link.title}}</a></li>
                               {% endfor %}
                   </ul>
                </div>
                <div class="quicks-links">
                    <h5>{{section.settings.heading1}}</h5>
                   <ul>
                        {% for link in linklists[section.settings.link3].links %}
                                <li><a class="{% if link.active %}active {% endif %}" href="{{link.url}}">{{link.title}}</a></li>
                               {% endfor %}
                   </ul>
                </div>
                <div class="quicks-links">
                    <h5>{{section.settings.heading2}}</h5>
                   <ul>
                       {% for link in linklists[section.settings.link4].links %}
                                <li><a class="{% if link.active %}active {% endif %}" href="{{link.url}}">{{link.title}}</a></li>
                               {% endfor %}
                   </ul>
                </div>
                <div class="quicks-links">
                    <h5>{{section.settings.heading3}}</h5>
                    <p>{{section.settings.para1}}</p>
                  {% form 'customer' %}
                  {%- if form.posted_successfully? -%}
        <p>
          Thanks for contact us
        </p>
      {%- endif -%}
                   <div class="email-container">
                       <input type="email" placeholder="Email Here" name="contact[email]" required >
                       <input type="submit" value="Subscribe">
                   </div>
                   {% endform %}
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>{{section.settings.bottom_text}}</p>
        </div>
    </footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [


{
"type":"image_picker",  
"id":"img",
"label":"img"
},
{
"type":"textarea",  
"id":"para",
"label":"Para"
},
{
"type":"text",  
"id":"heading",
"label":"heading"
},
{
"type":"link_list",  
"id":"link2",
"label":"Menu"
},
{
"type":"text",  
"id":"heading1",
"label":"heading"
},
{
"type":"link_list",  
"id":"link3",
"label":"Menu"
},
{
"type":"text",  
"id":"heading2",
"label":"heading"
},
{
"type":"link_list",  
"id":"link4",
"label":"Menu"
},
{
"type":"text",  
"id":"heading3",
"label":"heading"
},
{
"type":"text",  
"id":"para1",
"label":"para"
},
{
"type":"text",  
"id":"bottom_text",
"label":"text"
}




]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
